   .files input {
       outline: 2px dashed #92b0b3;
       outline-offset: -10px;
       -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
       transition: outline-offset .15s ease-in-out, background-color .15s linear;
       padding: 120px 0px 85px 35%;
       text-align: center !important;
       margin: 0;
       width: 100% !important;
   }
   
   .files input:focus {
       outline: 2px dashed #92b0b3;
       outline-offset: -10px;
       -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
       transition: outline-offset .15s ease-in-out, background-color .15s linear;
       border: 1px solid #92b0b3;
   }
   
   .files {
       position: relative
   }
   
   .files:after {
       pointer-events: none;
       position: absolute;
       top: 60px;
       left: 0;
       width: 50px;
       right: 0;
       height: 56px;
       content: "";
       background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
       display: block;
       margin: 0 auto;
       background-size: 100%;
       background-repeat: no-repeat;
   }
   
   .color input {
       background-color: #f1f1f1;
   }
   
   .files:before {
       position: absolute;
       bottom: 10px;
       left: 0;
       pointer-events: none;
       width: 100%;
       right: 0;
       height: 57px;
       content: " or drag it here. ";
       display: block;
       margin: 0 auto;
       color: #2ea591;
       font-weight: 600;
       text-transform: capitalize;
       text-align: center;
   }
   
   .thumbnail {
       position: relative;
   }
   
   .caption {
       position: absolute;
       top: 20%;
       left: 0;
       width: 100%;
   }
   
   .bashord-img {
       opacity: 0.2;
   }
   
   .box {
       float: left;
       margin-left: 2px;
       height: 10px;
       width: 7px;
       background-color: lightgray;
       /* margin-top: px; */
       /* clear: both; */
   }
   
   .box-color-yellow {
       background-color: #d6da13;
   }
   
   .slde-menu {
       box-shadow: none;
       border: none;
   }
   
   .side-menu>a {
       color: inherit;
       text-decoration: inherit;
   }
   
   .side-menu>a:hover {
       color: inherit;
       text-decoration: inherit;
   }
   
   .tab-arrow {
       position: relative;
       bottom: 75px;
       margin-left: -8px;
       color: #b8bdc2;
   }
   
   .tab-text {
       position: relative;
       bottom: 20px;
   }
   
   .tab-arrow-text {
       color: #b8bdc2!important;
       position: relative;
       bottom: 50px;
       margin-left: -15px;
   }
   
   .lms-bnt-left {
       margin-left: auto;
   }
   
   .lms-bnt-left button {
       border: none;
       text-align: center;
   }
   
   .color-bar-yellow {
       background: #FCFF33 !important;
   }
   
   /* .color-bar-green {
       background: #72C21C !important;
   } */
   .color-bar-green {
    background: #92D050 !important;
}
   
   
   .color-bar-gray {
       background: #a1a4a7!important;
   }
   
   .color-bar-sky {
       background: #1C91C2 !important;
   }
   
   .color-bar-black {
       background: #040708 !important;
   }
   
   .color-bar-red {
       background: #F5253E !important;
   }
   
   .color-bar-orange {
       background: #FF8C00 !important;
   }
   
   .color-bar-slateblue {
       background: #7B68EE !important;
   }
   
   .color-bar-blue {
       background: #25A2F5 !important;
   }
   
   .color-bar-black {
       background: black !important;
   }
   
   .tab-box-color {
       background-color: gray !important;
       height: 100px;
   }
   
   .tab-box-color:hover {
       background-color: #72C21C !important;
       height: 100px;
   }
   
   /* .syllabus-color:hover {
       background-color: #72C21C !important;
   } */
   .syllabus-color:hover {
    background-color: #92D050 !important;
}
   
   
   .tab-box-color .card-body .card-title {
       color: white;
       text-align: center;
   }
   
   .self-gb {
       background-color: rgb(218, 212, 212);
   }
   
   .tab-active {
       background-color: #72C21C !important;
   }
   /*student*/
   
   .cursor-pointer {
       cursor: pointer;
   }
   
   .studen_profile_box {
       height: 100px;
   }
   
   .studen_profile_box1 {
       height: 120px;
   }
   
   .box-hover:hover {
       background-color: #1C91C2;
       color: white;
   }
   
   .box-hover a div h5:hover {
       color: white;
   }
   
   .box-active {
       background-color: #1C91C2 !important;
       color: white;
   }
   
   .box-active a div h5 {
       color: white;
   }
   .remove_anchore_style{
       text-decoration: none;
   }
   .profile_title
   {
       position: relative;
       top: 70%;
       
   }
   /* /dot for  dashboard */
   .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .slide-details
  {
      height: 400px;
      top: 10%;
  }
  .slide-details p{
      margin-top: 20px;
  }
